@font-face {
    font-family: MS95;
    src: url(/public/custom-font/MS\ Sans\ Serif\ 8pt.ttf);
}

@font-face {
    font-family: MS95BOLD;
    src: url(/public//custom-font/MS\ Sans\ Serif\ 8pt\ bold.ttf);
}

:root{
    --light-grey: #c0c0c0;
    --border-light-grey: #DDDEDC;
    --dark-grey: #595958;
}

.startContainer{
    height: 5%;
    width: 100%;
}

.startMenuContainer{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 6vh;
    z-index: 1;
    background-color:  var(--light-grey); ;
    border-top: 2px white solid;
    border-bottom: 1px black solid;
    box-sizing: border-box;
    align-items: center;
    padding: .25em .25em;
}

.startMenuButtonContainer{
    font-family: 'MS95BOLD' !important;
    box-sizing: border-box;
    display: flex;
    font-size: 20px;
    gap: 2px;
    height: 100%;
    user-select: none;
    justify-content: center;
    align-items: center;
}

.startMenuButtonContent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25em;
    padding: 0 .5em;
    height: 100%;
}

.startMenuText{
    position: relative;
    bottom: 3px;
}

.outsideCSS{
    box-sizing: border-box;
    border-top: 2px white solid;
    border-left: 2px white solid;
    border-bottom: 2px black solid;
    border-right: 2px black solid;
}

.insideCSS{
    box-sizing: border-box;
    border-top: 1px var(--border-light-grey) solid;
    border-left: 1px var(--border-light-grey) solid;
    border-right: 1px var(--dark-grey) solid;
    border-bottom: 1px var(--dark-grey) solid;
}

.startMenuClickedContainer{
    position: absolute;
    bottom: 40px;
    z-index: 1;
    display: flex;
    background-color: var(--light-grey);
}

.startMenuItemsContainer{
    display: flex;
    font-family: 'MS95';
    flex-direction: column;
}

.textUnderline{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.startMenuItem{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding: .5em 0 .5em .5em;
    font-size: 14px;
}

.textUnderline{
    margin-left: 4px;
}

.windows95TextContainer{
    width: 15%;
    background-color: var(--dark-grey);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.windows95Text{
    transform: rotate(-90deg);
    position:relative;
    bottom: 55px;
    right: 3px;
    font-size: 20px;
    display:flex;
    align-items: center;
}

.windows95TextBold{
    font-family: "MS95BOLD";
    font-weight: 700;
    color: var(--light-grey);
}

.windows95TextLight{
    font-weight: 300;
}

.hide{
    display:none;
}

.startTimeOutsideContainer{
    width: 8%;
    height: 100%;
}

.startMenuTimeContainer{
    font-family: 'MS95';
    font-size: 1.15vw;
    height: 100%;
    width: 100%;
    border-top: 1px var(--dark-grey) solid;
    border-left: 2px var(--dark-grey) solid;
    border-bottom: 2px white solid;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
}

.startMenuApplications{
    display: flex;
    font-size: 12px;
    margin: 0 5px;
    width: 100%;
    gap: .5em;
    height: 100%;
}

.startMenuItemActive{
    gap: .5em;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: MS95;
    padding: .25em .5em;
    width: 13%;
}

.activeOutsideCss{
    border-top: 2px white solid;
    border-left: 2px white solid;
    border-bottom: 2px black solid;
    border-right: 2px black solid;
}

.startMenuItemActive img{
    height: 25px;
    width: 25px;
}

.desktopContainer{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    padding: 3em;
    display: grid;
    gap: 3em;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 16.67% 16.67% 16.67% 16.67% 16.67%;
    z-index: 1;
}

.desktopBackgroundImg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.itemContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    width: 50%;
    justify-content: center;
    font-family: MS95;
    z-index: 1;
}

.desktopItemImg{
    background-color: blue;
    z-index:-1;
}

.activeAppContentContainer{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    gap: 2em;
    z-index: 4;
}

.activeAppNav{
    width: 100%;
    height: 10%;
    background-color: #000080;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: .25em .5em;
    box-sizing: border-box;
}

.activeAppNavHeader, .activeAppNavActions{
    display:flex;
    gap: .75em;
    height: 100%;
    align-items: center;
}

.activeAppNavHeader{
    color: white;
}

.activeAppNavItems{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: space-between;
}

.activeAppNavItem{
    background-color: #C0C0C0;
    font-size: 1vw;
    width: 1.5vw;
    height: 1.5vw;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: .25em;
}

.activeAppContentItems{
    height: 100%;
    width: 100%;
    padding: 0 1em;
    box-sizing: border-box;
    background-color: white;
}

.activeAppContentItem{
    width: 100%;
    height: 100%;
    background-color:white;
}

.activeAppFooter{
    height: 10%;
    width: 100%;
}

.activeAppsContainer{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.activeAppContainer{
    width: 50vw;
    height: 50vh;
    background-color: #C0C0C0;
    padding: .25em;
}