*{
    padding: 0;
    margin: 0;
    overscroll-behavior: none;
}

body{
    position: relative;
    height: 100vh;
}

@font-face {
    font-family: MS95;
    src: url(/public/custom-font/MS\ Sans\ Serif\ 8pt.ttf);
}

@font-face {
    font-family: MS95BOLD;
    src: url(/public//custom-font/MS\ Sans\ Serif\ 8pt\ bold.ttf);
}